# Shared config for the Shadownet operator box.

TZEL_OCTEZ_NODE_BIN=/usr/bin/octez-node
TZEL_OCTEZ_CLIENT_BIN=/usr/bin/octez-client
TZEL_DAL_NODE_BIN=/usr/local/bin/octez-dal-node
TZEL_ROLLUP_NODE_BIN=/usr/bin/octez-smart-rollup-node
TZEL_OPERATOR_BIN=/usr/local/bin/tzel-operator

TZEL_SOURCE_ALIAS=tzelshadownet
TZEL_ROLLUP_ADDRESS=sr1REPLACE_ME
TZEL_BRIDGE_TICKETER=KT1REPLACE_ME

TZEL_L1_RPC_URL=http://127.0.0.1:8732
TZEL_OCTEZ_CLIENT_DIR=/var/lib/tzel/octez-client

TZEL_OCTEZ_NODE_DATA_DIR=/var/lib/tzel/octez-node
TZEL_OCTEZ_NODE_RPC_ADDR=127.0.0.1:8732
TZEL_OCTEZ_NODE_NET_ADDR=0.0.0.0:9732

TZEL_DAL_DATA_DIR=/var/lib/tzel/octez-dal-node
TZEL_DAL_RPC_ADDR=127.0.0.1:10732
TZEL_DAL_NET_ADDR=0.0.0.0:11732
TZEL_DAL_PUBLIC_ADDR=PUBLIC_IP_OR_DNS:11732
TZEL_DAL_OPERATOR_PROFILES=0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31

TZEL_ROLLUP_DATA_DIR=/var/lib/tzel/octez-rollup-node
TZEL_ROLLUP_RPC_HOST=127.0.0.1
TZEL_ROLLUP_RPC_PORT=28944

TZEL_OPERATOR_STATE_DIR=/var/lib/tzel/operator
TZEL_OPERATOR_LISTEN=127.0.0.1:8787
TZEL_OPERATOR_RECONCILE_INTERVAL_SECS=15
